.meter {
  h1 {
    text-align: center;
    font-weight: 200;
    font-size: 2.5em;
  }

  p {
    text-align: center;
  }

  text {
    font-size: .7em;
    font-weight: 200;
    transform: translateY(.3em);
  }
}
